$primary-color: #16A085;
$text-color: #000;
$gray-color: #979494;
$red-color: #B75D5D;
$light-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 600
);
$main-font: 'Roboto', 'sans-serif';