$primary-color: #16a085;
$text-color: #000;
$gray-color: #979494;
$red-color: #b75d5d;
$light-color: #fff;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
);
$main-font: "Roboto", "sans-serif";
