@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import './resets';
@import './variables';

body {
    background: url(/images/bg-img.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

}